# Ignore files and directories generated during development
*.pyc
__pycache__
*__pycache__
.idea/
.vscode/

# Ignore virtual environments
venv/
.env

# Ignore temporary files
*.log
*.tmp

# Ignore build directory
dist
build
